{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_integrity/preview_link

    Template for a preview link for the statement form.

    Context variables required for this template:
      name

    Example context (json):
    {
        name: name
    }
}}

<div class="local-integrity-preview"><a href="#" id="local-integrity-preview-notice">{{#str}}preview, local_integrity{{/str}}</a></div>

{{#js}}
    require(['local_integrity/preview'], function(Preview) {
        Preview.init('{{name}}', 'local-integrity-preview-notice');
    });
{{/js}}

